# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Environnements virtuels
venv/
.venv/
env/
.env
.env.*

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo

# Données brutes (trop volumineuses pour GitHub)
data/raw/
*.parquet

# Logs et artefacts temporaires
*.log
mlruns/
